<div id="utama" class="col-md-6" style="max-height:250px;max-width:350px;overflow-y:scroll;">
  <md-list>
    <div *ngFor ="let datacarrier of dataLoader">
      <md-list-item>
        <p md-line>
          <span>{{datacarrier.title}}</span>
        </p>
      </md-list-item>
       <md-divider></md-divider>
    </div>
  </md-list>
</div>
<div id="utama" class="col-md-6" style="max-height:250px;max-width:350px;overflow-y:scroll;">
  <md-list>
    <div *ngFor ="let datacarrier1 of dataLoader1">
      <md-list-item>
        <p md-line>
          <span>{{datacarrier1.title}}</span>
        </p>
      </md-list-item>
       <md-divider></md-divider>
    </div>
  </md-list>
</div>
<div id="utama" class="col-md-6" style="max-height:250px;max-width:350px;overflow-y:scroll;">
  <md-list>
    <div *ngFor ="let datacarrier2 of dataLoader2">
      <md-list-item>
        <p md-line>
          <span>{{datacarrier2.title}}</span>
        </p>
      </md-list-item>
       <md-divider></md-divider>
    </div>
  </md-list>
</div>